@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "San Francisco", "Poppins", "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  width: 100%;
}

.section {
  padding-block: 250px;
}

h1 {
    font-size: 36px;
    color: #0a0a0a;
}

h2 {
    font-size: 28px;
    color: #000;
}

p {
    font-size: 24px;
    color: #000;
}

/* Navigation Bar*/

.logo {
    color: #fff;
    font-size: 24px;
    font-family: cursive;
}

.logo span {
    color: rgba(200, 150, 50);
    font-family: cursive;
}

nav {
    background-color: #000;
    box-shadow: 0 5px 15px rgba(200, 150, 50, 0.2);
    z-index: 999;
    position: fixed;
    width: 100%;
    border-top: 1px solid transparent;
    left: 0;
    top: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


nav ul {
    float: right;
    display: flex;
    list-style: none;
    gap: 15px;
    background-color: #000;
}

nav ul li {
    position: relative;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    padding: 7px 13px;
    border-radius: 3px;
    transition: 0.3s ease;
}

a:hover,
a.active {
  color: rgba(200, 150, 50);
}

nav ul a.active::after,
nav ul a:hover::after {
  content: "";
  width: 30%;
  height: 2px;
  background: rgba(200, 150, 50);
  position: absolute;
  bottom: 0;
  left: 20px;
}


.navbutton {
    font-size: 25px;
    color: #fff;
    cursor: pointer;
    display: none;
    transition: 0.3s ease;
}

.navbutton i:hover {
    color: rgba(200, 150, 50);
}

#check {
    display: none;
}

/* Headline */

#home {
    text-align: center;
}

#home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 155vh;
    background-image: url("../img/t6.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
    filter: blur(2px);
    filter: brightness(0.4);
    z-index: -1;
}


#home h2 {
    color: #fff;
    font-size: 700;
}

#home h2 span {
    color: rgba(200, 150, 50);
}

#home h1 {
    color: #fff;
}

#home h1 span {
    color: #000;
}

#home p{
    color: #fff;
    font-weight: 900;
}


.home-button {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 4rem;
    background: #000;
    box-shadow: 0 0 1rem rgba(200, 150, 50, 0.2);
    transition: .5s ease;
}

.home-button:hover {
    box-shadow: none;
    color: #000;
    background-color: rgba(200, 150, 50);
}

/* Ankara Designs*/

#ankara {
  text-align: center;
  background-color: #fff;
}

#ankara .pro-container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
}

#ankara .pro {
    background-color: #000;
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid rgba(200, 150, 50);
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(200, 150, 50, 0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#ankara .pro:hover {
    box-shadow: 20px 20px 30px rgba(200, 150, 50, 0.2);
}

#ankara .pro img {
    width: 220px;
    border-radius: 20px;
}

#ankara .pro .des span {
    color: #e8f6ea;
    font-size: 12px;
}

#ankara .pro .des h5 {
  padding-top: 7px;
  color: #fff;
  font-size: 15px;
}

#ankara .pro .des i {
  font-size: 12px;
  color: rgb(243, 181, 25);
}

#ankara .pro .des h4 {
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: rgba(200, 150, 50);
}

#ankara .pro i {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #000;
  color: #fff;
  border: 1px solid rgba(200, 150, 50);
  position: absolute;
  bottom: 10px;
  right: 10px;
  transition: .3s ease;
}

#ankara .pro i:hover {
    color: rgba(200, 150, 50);
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        right: 0;
        height: 100vh;
        background-color: #000;
        width: 50%;
        box-shadow: 0 5px 15px rgba(200, 150, 50, 0.2);
        padding: 10px 0;
    }

    nav ul li {
        text-align: left;
        margin: 10px 0;
    }

    nav ul li a {
        padding: 10px;
        font-size: 18px;
        color: #fff;
    }

    nav ul a.active::after,
    nav ul a:hover::after {
        content: "";
        width: 20%;
        top: 25px;
        left: 10px;
    }


    #check:checked ~ ul {
        display: flex;
    }

    .navbutton {
        display: block;
    }

    #ankara .pro-container {
        justify-content: center;
    }
    #ankara .pro {
        margin: 15px;
    }
}
